.container {
  background-image: url('../../public/assets/images/result.png');
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  justify-content: center;
  padding-top: 100px;

  .wrap-image {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      max-width: 283px;
    }
  }
}