.container {
  background-image: url(//img1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/1lhx/image/cpt27NbOJs2TnqHmhLKrUrw3c9Q.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}